{% extends "base.html" %}
{% load static %}



{% block css %}


<link rel="stylesheet" type="text/css" href=" {% static "styles/instructors.css" %}">
<link rel="stylesheet" type="text/css" href=" {% static "styles/instructors_responsive.css" %}">
{% endblock css %}

{% block content  %}



<!-- Regular -->

<div class="regular">
	<div style='margin: auto; width:1500px; margin-top: 500px'>
		<div class="col-lg-12 col-md-10">
	<div class="container"></div>
		<div class="row">
			<div class="col">
				<h2 class="section_title text-center">История</h2>
				<div class="regular_content">
					<div class="regular_title">
					<div class="regular_text">
						<p></p>
						<p>ПЦПШ Светоч

							С 2003 года Действует Православная Церковно-Приходская школа «Светоч» - приходское общеобразовательное  учреждение в формате частной школы.
			   В благочинии действует Православная Церковно-Приходская школа «Светоч» в Оше, где обучается 250 детей, работает 20 преподавателей и 7 сотрудников, 12 класс- комплектов. В «Светоче» уже прошло 10 выпусков одиннадцатого класса и воспитанники школы в большинстве своём обучаются в престижных вузах России и Кыргызстана на бюджетной основе.
				 В основе педагогической деятельности школы лежат идеи человеколюбия, открытости общения, честности, профессиональной компетентности и инициативности,  стиля и индивидуальности.
				 В начальной школе работает 3 педагога, двое из них педагоги с большим стажем работы.
				 Русскому языку и литературе в 5-11 классах обучает выпускница филфака СПбГУ, магистр Яблокова Анастасия Дмитриевна
			   Математику преподает учитель-энтузиаст Мухамедьярова  Н.А
			   Кыргызский язык ведёт в школе Карыбекова А.А., педагог с 20-летним стажем
			   Английский язык ведёт Мухамедов Р.А
			   С историей Кыргызстана, России, Мировой историей и Обществознанием знакомит педагог Ильин О.М..
			   Уроки физики и биологии ведут Хозяинова О.А и Баратова О.С..
			   Функционирует библиотека Филиппова Е.В
			   Церковнославянский язык (диакон Дионисий Зорин и Султанова Елизавета Григорьевна.)
			   1.	правило гражданственности;
			   2.	правило деятельности: ребенок не получает готового знания, а добывает его в результате деятельности;
			   3.	свобода выбора: никто не любит навязанных действий, поэтому детям предоставляется право выбора при решении задач, поиска путей разрешения;
			   4.	правило успешности;
			   5.	правило индивидуальности;
			   6.	здоровая педагогика – здоровые дети;
			   7.	правило эстетичности;
			   8.	правило интеллектуального творчества

			   Регулярно проводятся предметные недели с целью вовлечения учащихся в увлекательный  соревновательный процесс и расширения знаний по предметам. Кроме того, учащиеся, педагоги школы участвуют в олимпиадах как очно, так и в  дистанционном формате, получают дипломы и грамоты
															 А также проводиться кружки и секци :

			   Детский хор ПЦПШ «Светоч», организованный Минкович Т.А., является победителем двух международных фестивалей «Благовест» в номинации «детские хоры».
			   Также в школе функционирует детский военно-патриотический клуб «Наследие» руководителем которого является Говоритов А.С.
			   При школе функционирует футбольный клуб «Светоч», участвовавший во многих городских и республиканских соревнованиях, а старшим тренером является опытный наставник Власичев В.А.
				Школа учит быть строгим и взыскательным к себе, и в то же время, снисходительно относиться к недостаткам и немощам ближних своих!

			   .</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Top Teachers -->

<div class="teachers" style="margin-top: 200px;">
	<div class="container">
		<div class="row">
			<div class="col">
				<h2 class="section_title text-center">Все учителя ПЦПШ "Cветоч"</h2>
			</div>
		</div>
		<div class="row teachers_row">

					<!-- Instructor -->
					<div class="col-lg-4 col-md-6">
						<div class="teacher d-flex flex-row align-items-center justify-content-start">
	                     <div class="teacher_image"><div><img src="{% static 'images\photo_2023-10-28_20-54-45.jpg' %}"alt=""></div></div>
							<div class="teacher_content">
								<div class="teacher_name"><a href="instructors.html">Айгул Айдаровна</a></div>
								<div class="teacher_title">Кыргыз тил Адабият</div>
							</div>
						</div>
					</div>

					<!-- Instructor -->
					<div class="col-lg-4 col-md-6">
						<div class="teacher d-flex flex-row align-items-center justify-content-start">
							<div class="teacher_image"><div><img src="{% static 'images\photo_2023-10-12_19-58-38.jpg' %} " alt=""></div></div>
							<div class="teacher_content">
								<div class="teacher_name"><a href="instructors.html">Арзыбек сатанович</a></div>
								<div class="teacher_title">География</div>
							</div>
						</div>
					</div>

					<!-- Instructor -->
					<div class="col-lg-4 col-md-6">
						<div class="teacher d-flex flex-row align-items-center justify-content-start">
							<div class="teacher_image"><div><img src= "{% static 'images/photo_2023-10-12_19-56-14.jpg' %} "alt=""></div></div>
							<div class="teacher_content">
								<div class="teacher_name"><a href="instructors.html">Инна Вячеславовна</a></div>
								<div class="teacher_title">Экономика,ЧИО</div>
							</div>
						</div>
					</div>

					<!-- Instructor -->
					<div class="col-lg-4 col-md-6">
						<div class="teacher d-flex flex-row align-items-center justify-content-start">
							<div class="teacher_image"><div><img src="{%static 'images\photo_2023-10-12_19-58-32.jpg'%}" alt=""></div></div>
							<div class="teacher_content">
								<div class="teacher_name"><a href="instructors.html">Олег Михайлович</a></div>
								<div class="teacher_title">ДПЮ,История</div>
							</div>
						</div>
					</div>

					<!-- Instructor -->
					<div class="col-lg-4 col-md-6">
						<div class="teacher d-flex flex-row align-items-center justify-content-start">
							<div class="teacher_image"><div><img src="{%static 'images\photo_2023-10-12_19-58-27.jpg'%}" alt=""></div></div>
							<div class="teacher_content">
								<div class="teacher_name"><a href="instructors.html">Рустам Абдулаевич</a></div>
								<div class="teacher_title">English</div>
							</div>
						</div>
					</div>
					<!-- Instructor -->
					<div class="col-lg-4 col-md-6">
						<div class="teacher d-flex flex-row align-items-center justify-content-start">
							<div class="teacher_image"><div><img src="{% static "images\photo_2023-10-28_22-05-02.jpg" %}" alt=""></div></div>
							<div class="teacher_content">
								<div class="teacher_name"><a href="instructors.html">Анастасия Дмитриевна</a></div>
								<div class="teacher_title">Русский язык Литературе</div>
							</div>
						</div>
					</div>

					<!-- Instructor -->
					<div class="col-lg-4 col-md-6">
						<div class="teacher d-flex flex-row align-items-center justify-content-start">
							<div class="teacher_image"><div><img src="{% static 'images\photo_2023-10-28_22-12-24.jpg'%}" alt=""></div></div>
							<div class="teacher_content">
								<div class="teacher_name"><a href="instructors.html">Игорь Николаевич </a></div>
								<div class="teacher_title">Физкультура </div>
							</div>
						</div>
					</div>

					<!-- Instructor -->
					<div class="col-lg-4 col-md-6">
						<div class="teacher d-flex flex-row align-items-center justify-content-start">
							<div class="teacher_image"><div><img src="{%static 'images\photo_2023-10-28_22-23-46.jpg'%}" alt=""></div></div>
							<div class="teacher_content">
								<div class="teacher_name"><a href="instructors.html">Наталья Александровна</a></div>
								<div class="teacher_title">Алгебра Геометрия</div>
							</div>
						</div>
					</div>

					<!-- Instructor -->
					<div class="col-lg-4 col-md-6">
						<div class="teacher d-flex flex-row align-items-center justify-content-start">
							<div class="teacher_image"><div><img src="{% static 'images\photo_2023-10-29_11-21-24.jpg'%}" alt=""></div></div>
							<div class="teacher_content">
								<div class="teacher_name"><a href="instructors.html">Ольга Александровна</a></div>
								<div class="teacher_title">Физика</div>
							</div>
						</div>
					</div>
	<!-- Instructor -->
	<div class="col-lg-4 col-md-6">
		<div class="teacher d-flex flex-row align-items-center justify-content-start">
			<div class="teacher_image"><div><img src="{% static 'images\photo_2023-10-29_11-28-37.jpg'%}" alt=""></div></div>
			<div class="teacher_content">
				<div class="teacher_name"><a href="instructors.html">Светлана Владимировна</a></div>
				<div class="teacher_title">Черчение</div>
				</div>
			</div>
		</div>
		<!-- Instructor -->
	<div class="col-lg-4 col-md-6">
		<div class="teacher d-flex flex-row align-items-center justify-content-start">
			<div class="teacher_image"><div><img src="{%static 'images\photo_2023-10-29_11-40-35.jpg'%}" alt=""></div></div>
			<div class="teacher_content">
				<div class="teacher_name"><a href="instructors.html">Oксана Владимировна</a></div>
				<div class="teacher_title">Начальный класс</div>
				</div>
			</div>
		</div>
		<!-- Instructor -->
	<div class="col-lg-4 col-md-6">
		<div class="teacher d-flex flex-row align-items-center justify-content-start">
			<div class="teacher_image"><div><img src="images/instructor_12.jpg" alt=""></div></div>
			<div class="teacher_content">
				<div class="teacher_name"><a href="instructors.html">Sarah Parker</a></div>
				<div class="teacher_title">Teacher</div>
				</div>
			</div>
		</div>
		<!-- Instructor -->
	<div class="col-lg-4 col-md-6">
		<div class="teacher d-flex flex-row align-items-center justify-content-start">
			<div class="teacher_image"><div><img src="images/instructor_12.jpg" alt=""></div></div>
			<div class="teacher_content">
				<div class="teacher_name"><a href="instructors.html">Sarah Parker</a></div>
				<div class="teacher_title">Teacher</div>
				</div>
			</div>
		</div>
		<!-- Instructor -->
	<div class="col-lg-4 col-md-6">
		<div class="teacher d-flex flex-row align-items-center justify-content-start">
			<div class="teacher_image"><div><img src="images/instructor_12.jpg" alt=""></div></div>
			<div class="teacher_content">
				<div class="teacher_name"><a href="instructors.html">Sarah Parker</a></div>
				<div class="teacher_title">Teacher</div>
				</div>
			</div>
		</div>
		<!-- Instructor -->
	<div class="col-lg-4 col-md-6">
		<div class="teacher d-flex flex-row align-items-center justify-content-start">
			<div class="teacher_image"><div><img src="images/instructor_12.jpg" alt=""></div></div>
			<div class="teacher_content">
				<div class="teacher_name"><a href="instructors.html">Sarah Parker</a></div>
				<div class="teacher_title">Teacher</div>
				</div>
			</div>
		</div>
		<!-- Instructor -->
	<div class="col-lg-4 col-md-6">
		<div class="teacher d-flex flex-row align-items-center justify-content-start">
			<div class="teacher_image"><div><img src="images/instructor_12.jpg" alt=""></div></div>
			<div class="teacher_content">
				<div class="teacher_name"><a href="instructors.html">Sarah Parker</a></div>
				<div class="teacher_title">Teacher</div>
				</div>
			</div>
		</div>
		<!-- Instructor -->
	<div class="col-lg-4 col-md-6">
		<div class="teacher d-flex flex-row align-items-center justify-content-start">
			<div class="teacher_image"><div><img src="images/instructor_12.jpg" alt=""></div></div>
			<div class="teacher_content">
				<div class="teacher_name"><a href="instructors.html">Sarah Parker</a></div>
				<div class="teacher_title">Teacher</div>
				</div>
			</div>
		</div>
		<!-- Instructor -->
	<div class="col-lg-4 col-md-6">
		<div class="teacher d-flex flex-row align-items-center justify-content-start">
			<div class="teacher_image"><div><img src="images/instructor_12.jpg" alt=""></div></div>
			<div class="teacher_content">
				<div class="teacher_name"><a href="instructors.html">Sarah Parker</a></div>
				<div class="teacher_title">Teacher</div>
				</div>
			</div>
		</div>
		<!-- Instructor -->
	<div class="col-lg-4 col-md-6">
		<div class="teacher d-flex flex-row align-items-center justify-content-start">
			<div class="teacher_image"><div><img src="images/instructor_12.jpg" alt=""></div></div>
			<div class="teacher_content">
				<div class="teacher_name"><a href="instructors.html">Sarah Parker</a></div>
				<div class="teacher_title">Teacher</div>
				</div>
			</div>
		</div>
		<!-- Instructor -->
	<div class="col-lg-4 col-md-6">
		<div class="teacher d-flex flex-row align-items-center justify-content-start">
			<div class="teacher_image"><div><img src="images/instructor_12.jpg" alt=""></div></div>
			<div class="teacher_content">
				<div class="teacher_name"><a href="instructors.html">Sarah Parker</a></div>
				<div class="teacher_title">Teacher</div>
				</div>
			</div>
		</div>
		<!-- Instructor -->
	<div class="col-lg-4 col-md-6">
		<div class="teacher d-flex flex-row align-items-center justify-content-start">
			<div class="teacher_image"><div><img src="images/instructor_12.jpg" alt=""></div></div>
			<div class="teacher_content">
				<div class="teacher_name"><a href="instructors.html">Sarah Parker</a></div>
				<div class="teacher_title">Teacher</div>
				</div>
			</div>
		</div>

<!-- Courses -->

<div class="" style=' width: 1000px	; margin:auto'>
	<h2 class="section_title text-center"> Наши социальный сети</h2>
	<div class="course" style='display:flex;     justify-content: space-evenly;'>
		<div class="course_image"><img style='width: 300px; height: 300px;'   src="{%static 'images\photo_2023-10-04_22-05-33.jpg'%}" alt=""></div>
		<div class="course_image"><img style='width: 300px; height: 300px;' src="{%static 'images\photo_2023-10-12_22-27-14.jpg'%}" alt=""></div>
	</div>
</div>

{% endblock content %}
